
<h1>Bienvenidos al manual de la buena conducta</h1>

<%= link_to('Usuarios', users_path) %>
<%= link_to('Localides', districts_path) %>
<%= link_to('Instituciones', institutes_path) %>
<%= link_to('Curso', grades_path) %>
<%= link_to('Tutor', guardians_path) %>
<%= link_to('Reportes', reports_path) %>
<%= link_to('Estudiantes', students_path) %>
<%= link_to('Docentes', teachers_path) %>